<li [ngClass]="{
    'list-group-item': true, 
    'list-group-item-success': post.loveIts > 0, 
    'list-group-item-danger': post.loveIts < 0}" *ngIf="post">
    <div class="row">
        <div class="col-8">
            <h4>{{post.title}}</h4>
        </div>
        <div class="col-4 text-right">
            {{post.createdAt | date:'short'}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{(post.content.length>150)? (post.content | slice:0:150)+'..':(post.content)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" type="button" (click)="likeIt()">Like it!</button>
            <button class="btn btn-danger ml-1" type="button" (click)="dontLikeIt()">Don't like it!</button>
        </div>
    </div>
</li>