<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Devices</h1>
      <ul class="list-group">
        <app-device [name]="devices[0].name" [status]="devices[0].status"></app-device>
        <app-device [name]="devices[1].name" [status]="devices[1].status"></app-device>
        <app-device [name]="devices[2].name" [status]="devices[2].status"></app-device>
      </ul>
      <button class="btn btn-primary" type="button" [disabled]="!isAuth" (click)="onTurnOn()">
        Turn on everything!
      </button>
    </div>
  </div>
</div>