<div class="row">
    <div class="col-8 offset-sm-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">
                    Device name
                </label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="status">
                    Device status
                </label>
                <select id="status" class="form-control" name="status" [ngModel]="defaultStatus">
                    <option value="On">On</option>
                    <option value="Off">Off</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Add</button>
        </form>
    </div>
</div>